.dropdown-menu li {
    background: #fff !important;
}
.nav > li > a:focus, .nav > li > span:focus {
    
    color: #e31a2d;

    background-color: #fff !important ;
}
.banner--version .version {
    top: 10% !important ;
}

.icon--footer-google-grey {
    background-image: url("../static/img/logo.png") !important;
    background-size: 92px 30px;
    opacity: 0.54;
    vertical-align: middle;
}
.sous-tetr {
    background: whitesmoke none repeat scroll 0 0;
    margin-bottom: 16px;
    margin-top: 30px;
    padding: 15px;
    width: 90% !important;
	font-weight: 400;
}
.tetr {
    background: whitesmoke none repeat scroll 0 0;
    margin-bottom: 16px;
    margin-top: 30px;
    padding: 15px;
    width: 90% !important;
	font-weight: 400;
	color:#EB626C;
}


@media (min-width: 850px){
.banner--version .version h2 {
    font-weight: 300;
    line-height: 70px;
    float: right;
    width: 49%;
}
.span-slid{margin-top: -30px;}
.footer-social {
    padding-bottom: 16px !important ;
    padding-top: 16px !important ;
}
.navbar-brand img {width: 300px;
height: 52px;}
.footer-social{float: left;width: 30%;}
.back-to-top {top: -30px;}
.footer-info {padding-bottom: 0px !important ;}
.paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: justify !important;
	width: 90%;
}
.sous-tetr.text--center {
    
}

.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
    width: 90%;
}
}
@media (max-width: 500px){
	.navbar-brand img {height: 38px !important;width: 190px !important;}
	.banner--androidify .betohether2 {left: 0% !important;}
	.banner--version .version h2{left: 0% !important;width: 90% !important;}
	.mobile-one-whole {
    width: 90% !important;}
}
.logo-android-white{height: 38px !important;width: 190px !important;}